In [42]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [43]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\Greg\.wdm\drivers\chromedriver\win32\87.0.4280.20\chromedriver.exe] found in cache

In [44]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
# Assign the text to variables that you can reference later.
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [45]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain article information:
article=soup.find_all('div', class_='content_title')
news_title=article[1].text.strip()

news_p=soup.find('div', class_='article_teaser_body').text.strip()
news_p

print(news_title)
print(news_p)

MOXIE Could Help Future Rockets Launch Off Mars
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [63]:
# Visit the url for JPL Featured Space Image here.
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string 
# to a variable called featured_image_url.
base_url = 'https://www.jpl.nasa.gov'
pic_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(pic_url)

browser.links.find_by_partial_text('FULL IMAGE').click()
browser.links.find_by_partial_text('more info').click()

html = browser.html
soup = bs(html, 'html.parser')

#print(soup.prettify())

pic_info = soup.find('figure', class_='lede')
image_url = pic_info.a['href']
featured_image_url = base_url+image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09320_hires.jpg

In [62]:
#pic_info = soup.find('figure', class_='lede')
#image_url = pic_info.a['href']

#print(image_url)

/spaceimages/images/largesize/PIA09320_hires.jpg

In [67]:
# Mars Facts
# Visit the Mars Facts webpage here (https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about 
# the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.

facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(facts_url)
mars_df = tables[0]
mars_df.columns = ['Mars Fact', 'Value']
mars_df.set_index('Mars Fact', inplace=True)
mars_df

                                              Value
Mars Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [68]:
# Pandas also had a to_html method that we can use to generate HTML tables from DataFrames.
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Mars Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'